PORT=3333
APP_URL=http://localhost:${PORT}
NODE_ENV=development

# Auth

APP_SECRET=ef21f6689e5944c1276bbd100628ab78

# Database

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=gobarber

# Mongo

MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Mail

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=


# Sentry

SENTRY_DSN=
